* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.container {
    padding: 20px;
    background: #fff;
    overflow: auto;
    max-width: 960px;
    margin: auto;
}
.banner {
    width: 100%;
    height: 200px;
    background: url(../images/banner-background.png);
    background-size: cover;
    background-position: center;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.banner h1 {
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left 20px;
}
main-nav {
    width: 100%;
    height: 60px;
    clear: left;
    float: left;
    margin-bottom: 10px;
}
.main-nav ul {
    list-style: none;
}
.main-nav ul li {
    width: 25%;
    float: left;
    text-align: center;
}
.main-nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 80%;
    line-height: 60px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    font-size: 24px;
    transition: .5s;
}
.main-nav ul li a:hover {
    font-size: 30px;
}
aside {
    width: 30%;
    height: 500px;
	margin-top: 60px;
    background: green;
    clear: left;
    float: left;
}
main {
    width: 70%;
    float: left;
}
.header-style-1 {
    padding:  10px;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid black;
}
.hero-img {
    display: block;
    width: 80%;
    margin: 20px auto;
}
main p {
    padding: 20px;
	margin-top: -40px;
}
.drop-cap:first-letter { 
    font-size: 50px;
}
footer {
    height: 40px;
    width: 100%;
    background: orange;
    clear: both;
}